* {
  margin: 0;
  padding: 0;
}

#top {
  background-color: rgb(255, 255, 184);
  width: 100%;
  height: 50%;
}

#bottom {
  background-color: rgb(102, 102, 102);
  width: 100%;
  height: 50%;
}

#red1 {
  position: absolute;
  top: -10px;
  width: 100px;
  height: 100px;
  background: red;
  z-index: 20;
  transition: height 0.6s ease;
}
#red1:hover {
  box-shadow: 0 0 10px 10px rgba(255, 234, 6, 0.5);
  height: 500px;
  opacity: 0.6;
}

#red2 {
  position: absolute;
  top: -10px;
  left: 200px;
  width: 100px;
  height: 100px;
  background: red;
  z-index: 20;
  transition: height 0.6s ease;
}
#red2:hover {
  box-shadow: 0 0 10px 10px rgba(255, 234, 6, 0.5);
  height: 500px;
  background: rgb(87, 55, 55);
  opacity: 0.6;
}

#red3 {
  position: absolute;
  left: 400px;
  top: -10px;
  width: 100px;
  height: 100px;
  background: red;
  z-index: 20;
  transition: height 3s ease;
}
#red3:hover {
  box-shadow: 0 0 10px 10px rgba(255, 76, 76, 0.5);
  height: 500px;
  background: rgb(245, 175, 26);
  opacity: 0.6;
}

#red5 {
  position: absolute;
  left: 800px;
  top: -10px;
  width: 100px;
  height: 100px;
  background: red;
  z-index: 20;
  transition: height 3s ease;
}
#red5:hover {
  box-shadow: 0 0 10px 10px rgba(252, 51, 51, 0.5);
  height: 500px;
  background: rgb(255, 198, 43);
  opacity: 0.6;
}
#red6 {
  position: absolute;
  left: 1000px;
  top: -10px;
  width: 100px;
  height: 100px;
  background: red;
  z-index: 20;
  transition: height 3s ease;
}
#red6:hover {
  box-shadow: 0 0 10px 10px rgba(255, 77, 77, 0.5);
  height: 500px;
  background: rgb(188, 122, 63);
  opacity: 0.6;
}
#red7 {
  position: absolute;
  left: 1200px;
  top: -10px;
  width: 100px;
  height: 100px;
  background: red;
  z-index: 20;
  transition: height 0.6s ease;
}
#red7:hover {
  box-shadow: 0 0 10px 10px rgba(255, 234, 6, 0.5);
  height: 500px;
  background: rgb(66, 18, 18);
  opacity: 0.6;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/backgroundd.gif);
}

.container {
  position: relative;
  bottom: 0;
  height: 200px;
  width: 100%;
}

/*  */

.container .pixel:nth-child(1) {
  left: 0;
  top: 20px;
}

.container .pixel:nth-child(2) {
  left: 400px;
}
.container .pixel:nth-child(3) {
  left: 600px;
  bottom: 50px;
}
.container .pixel:nth-child(4) {
  left: 900px;
  bottom: 80px;
}
.container .pixel:nth-child(4) {
  left: 100px;
  bottom: 200px;
}
.container .pixel:nth-child(5) {
  right: 50px;
  top: 80px;
}
.container .pixel:nth-child(6) {
  right: 250px;
  top: 30px;
}
.container .pixel:nth-child(7) {
  right: 450px;
  bottom: 810px;
}

.container .pixel:last-child {
  right: 0;
  bottom: 60px;
}
/*  */

.container .pixel {
  position: absolute;
  width: 300px;
  height: 300px;
}
.container .pixel img {
  position: absolute;
  top: 50;
  left: 0;
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}
.container .pixel img:last-child {
  transition: 2s;
}
.container .pixel:hover img:last-child {
  transition: 2s;
  opacity: 0;
}

/*  */

.textBox {
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: auto;
  text-align: center;
}
.text {
  width: 100%;
  color: #f8f098;
  transition: all 0.5s;
}
.text:hover {
  font-size: 20px;
  color: red;
  transform: scale(2.4);
}

/* 样式用于设置被遮挡图片的 pointer-events 属性 */
.prevent-hover {
  pointer-events: none;
}

.follower {
  transition: .2s opacity;
  pointer-events: none;
}

.red {
  border-radius: 5px;
}